div.asc {
  &.asc-activity-indicator {
    width: 28px;
    height: 28px;

    position: relative;
    &.absolute-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    div {
      width: 12%;
      height: 26%;
      background: #8E8E8F;
      position: absolute;
      left: 44.5%;
      top: 37%;
      opacity: 0;
      animation: fade 1s linear infinite;
      border-radius: 50px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }
    @for $i from 0 through 11 {
      div.bar#{$i} {
        transform: rotate($i*30deg) translate(0, -142%);
        @if $i==0 {
          animation-delay: 0s;
        }
        @if $i>0 {
          animation-delay: -#{1 - $i/12}s;
        }
      }
    }
  }
  &.asc-progress-bar {
    width: 0;
    margin: 5px 0 0 0;
    height: 3px;
    background-color: $blue;
    transition: width 0.5s;
    @for $i from 1 through 100 {
      &[p-width="#{$i}"] {
        width: ($i * 1%);
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}