@import "../common/colors";

input[type="range"] {
  background: linear-gradient(180deg, $tealBlue, $blue);
  cursor: default;
  height: 2px;
  position: relative;
  -webkit-appearance: none;
  -webkit-transition: .15s;
  width: 400px;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    content: "";
    background-color: #fff;
    border: 1px solid #E4E4E4;
    display: block;
    text-align: center;
    transition: margin-left 0.5s;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.46);
    -webkit-appearance: none;
    cursor: pointer;
  }
}