$borderColor: #B3B3B3;

.search {
  position: relative;
  width: 18px;
  height: 18px;
  margin: 5px 5px 5px 0;
  text-align: center;

  &__circle {
    width: 8px;
    height: 8px;
    border: 2px solid $borderColor;
    border-radius: 8px;
  }

  &__rectangle {
    position: absolute;
    right: 2px;
    bottom: 4px;
    width: 6px;
    transform: rotate(45deg);
    border: 1px solid $borderColor;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.asc-search-bar{
  display: flex;
  flex: 1;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 4px;
  padding: 0 10px;

  p{
    margin: 0;
    color: $borderColor;
  }

  &.asc-clicked{
    justify-content: flex-start;
  }
}