@import "../common/colors";

button.asc {
  background: #fff;
  border: 1px solid $blue;
  border-radius: 2px;
  color: $blue;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s;
  padding: 1px 4px;

  &:active {
    background-color: rgba($blue, 0.71);
    color: #fff;
  }

  &.asc-icon-button {
    border-radius: 13px;
    width: 26px;
    height: 26px;
  }

  &.asc-info-button:after {
    content: "i";
  }

  &.asc-warning-button {
    color: $red;
    border-color: $red;

    &:active {
      background-color: rgba($red, 0.71);
      color: #fff;
    }

    &:after {
      content: "i";
    }
  }

  &.asc-plus-button:after {
    content: "+";
    padding-bottom: 3px;
  }

  &.asc-minus-button:after {
    content: "-";
  }
}