@font-face {
  font-family: "San Francisco";
  src: url("./sanfranciscodisplay-regular-webfont.woff");
}

* {
  margin: 0;
  padding: 0;
}

.asc {
  font-family: "San Francisco";
  font-weight: 400;
  font-size: 16px;
}

.no-scroll {
  overflow: hidden;
}